*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    background: radial-gradient(at top, $radialGradient-1, $radialGradient-2);
    min-height: 100vh;
    background: contain no-repeat;
    color: $lightText;
} 

.close-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.rules-img {
   padding: 2rem 4rem;
   
   &-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


