.game {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "paper scissors"
    "rock rock ";

    place-items: center;
    height: 30rem;
    padding-top: 4rem;
    //transform: scale(0.5);

    @media screen and (max-width: 600px) {
        transform: scale(0.8);
    }

}

.game::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 28%;
    top: 35%;
    background: url('../images/bg-triangle.svg') no-repeat;
    z-index: -1; 

    @media screen and (max-width: 400px) {
        left: 18%;
        top: 35%;
        background-position: -50% 0;
    }


    @media screen and (max-width: 500px) {
        left: 27%;
        top: 35%;
        background-position: -50% 0;
    }
   
}
