.modal {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background: $shadowMed;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    //pointer-events: none;

    

    &__container {
        background: #fff;
        border-radius: 0.5rem;

        @media screen and (max-width: 600px) {
            width: 90%;
        }
    }

    &__header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 2rem 2rem 1rem;
    }

    &__heading {
        font-size: 1.5rem;
        color: $darkText;   
    }

    &__show {
        opacity: 1;
        visibility: visible;
    }


}